html{
	font-size: 26px;
	font-family: Beer money;
}
body{
	max-width: 1280px;
	margin: 0 auto;
	background-color: #6A0707;
}
a{
	color: #470404;
	text-decoration: none;
}
.container{
	display: flex;
}
.page-header{
  min-width: 100%;
  background: #CA7830;
  border-radius: 0 0 7px 7px;
}
.logo__image{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	max-width: 400px;
	width: calc(100%-50px);
}
.logo__title{
	display: block;
	padding: 15px 10px 10px;
	color: #951414;
	text-align: center;
	font-size: 2rem;
	letter-spacing: 3px;
	line-height: 2.5rem;
}
.logo__description{
	display: block;
	text-align: center;
	color: #560A0A;
	padding: 5px 10px 25px;
	letter-spacing: 3px;
}
.menu__list{
	background-color: #F6BC88;
	display: inline;
	width: 100%;
	margin: 0;
	list-style: none;
	padding: 10px;
	display: table;
}
.menu__list-item{
	display: inline;
	margin-right: 5px;
	border: 10px; 
	padding: 3px;
}
.menu__list-item a:hover{
	background-color: #C6AA7E;
}
.menu__list-item .active a{
	background-color: #D09E32;
}

.left-sidebar{
	margin: 10px;
	order:-1;
	height: 1000px;
	width: 17%;
	border-radius: 10px;
	min-height: 100px;
	background-color: #579F09; 
	width: 250px;
	text-align: center;
}

.main{
	padding: 5px;
	border-radius: 20px;
	text-align: center;
	margin: 10px;
	height: 1000px;
	width: 60%;
	min-height: 100px;
	flex-grow: 1;
	min-height: calc(100vh-199px);
	background-color: #D4E876;
	}
.right-sidebar{
    
    height: 1000px;
    border-radius: 10px;
    margin: 10px;
	min-height: 100px;
	background-color: #ABAFFA;
	width: 15%;
}

footer.page-footer{
	height: 100px;
	width: 100%;
	min-height: 100px;
	background-color: #FAED16;
	margin: 6px;
}
@media(max-width: 1200px){
	.container{
		flex-wrap: wrap;
	}
	.right-sidebar{
		width: 100%;
	}
}
@media(max-width: 960px){
	.main{
		width: 100%;
	}
	.left-sidebar{
		width: 50%;
	}
}
@media(max-width: 768px){
	.left-sidebar{
		width: 100%;
	}
	.right-sidebar{
		width: 100%;
	}
}


